header {
    background: #ffffff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3.5em;
    border-bottom-style: solid;
    border-width: 0.1px;
    box-shadow: 0px 2px 20px #00000013;
    border-color: #ffff;
    z-index: 1;
    width: 100%;
    padding: 0.2em 2em;
    a {
        align-items: baseline;
        img {
            width: 8em;
            align-items: center;
        }
    }
    nav {
        width: 100%;
        align-items: center;
        ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            column-gap: 30px;
            font-size: 95%;
            li a {
                color: rgba(128, 128, 128, 0.625);
                text-decoration: none;
                padding: 0em 0.3em 0.2em 0.3em;
            }
        }
    }
    div {
        display: flex;
        justify-content: flex-end;
        width: 10%;
        column-gap: 1em;
    }
}

header nav ul li a:hover {
    font-weight: 400;
    color: grey;
    border-bottom: solid grey 2px;
}

.active {
    color: grey;
    border-bottom: solid grey 2px;
}


@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 10em;
        width: 100%;
        a img {
            width: 15em;
            padding: 0.5em 0em 1.5em 0em;
        }
        nav {
            display: flex;
            justify-content: center;
            font-size: 0.9em;
        }
        .redesSociales {
            display: none;
        }
    }
}